<div class="cflex a-center h-100 p-5">
    <div class="container card-dark cflex a-center h-100">

        <div class="mb-5 mt-2">
            <app-button label="Add Major Sector" btnClass="p-button-raised" icon="pi pi-plus" type="button" (click)="openModal('add')"></app-button>
            <app-button label="Expand all" btnClass="p-button-text mx-2" type="button" (click)="expand(true)"></app-button>
            <app-button label="Collapse all" btnClass="p-button-text" type="button" (click)="expand(false)"></app-button>
        </div>

        <app-table class="cflex w-100 h-100" [data]="(data$ | async)!">
            <ng-template #tableTemplate let-tableData>

                <app-sector-table [data]="tableData"></app-sector-table>

            </ng-template>
        </app-table>
    </div>
</div>

<!-- Creation/Edition modal. -->
<app-edition-modal></app-edition-modal>

<!-- Deletion modal. -->
<app-confirmation-modal></app-confirmation-modal>
