.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 48px - 70px);

    .header-container, .footer-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}

:host ::ng-deep .p-inputtext {
    padding-right: 0.5rem !important; // Force le style sinon le show password ne s'affiche pas correctement en Reactive Form
}
