<div class="container cflex h-100 px-5 py-4">
    <div class="portfolio-header lflex mb-4">
        <div class="left">
            <app-button label="Import Data" btnClass="p-button-raised p-button-success" type="button" (click)="import()"></app-button>
        </div>
        <div class="right">
            <app-button label="Sector repartition" btnClass="p-button-rounded p-button-outlined mr-2" type="button" routerLink="/sector"></app-button>
            <app-button label="Geographic repartition" btnClass="p-button-rounded p-button-outlined" type="button" routerLink="/geography"></app-button>
        </div>
   </div>

    <app-table class="card-dark h-100" [data]="(data$ | async)!">
        <ng-template #tableTemplate let-tableData>

            <app-portfolio-table [portfolioData]="tableData"></app-portfolio-table>

        </ng-template>
    </app-table>
</div>
