.container {
    display: flex;
    flex-direction: column;

    .portfolio-header {
        display: inline-flex;

        .right {
            margin-left: auto;
        }
    }

    .portfolio-container {

        td.link {
            cursor: pointer;

            &:hover {
                span {
                    color: var(--table-value-color);
                }
            }
        }
    }
}
