.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .portfolio-header {
        display: inline-flex;

        .central {
            button:first-child {
                margin-right: 8px;
            }
        }

        .right {
            margin-left: auto;
        }
    }

    .portfolio-container {

        td.link {
            cursor: pointer;

            &:hover {
                span {
                    color: #023e7d;
                }
            }
        }
    }
}

