<div class="content m-4">
    <div class="container card-dark col-4">

        <div class="mb-5 mt-2">
            <button pButton pRipple class="p-button-raised" label="Add Geography" icon="pi pi-plus" (click)="openModal()"></button>
        </div>

        <div class="spinner-container" *ngIf="loadingService.loading$ | async; else: loaded">
            <p-progressSpinner ></p-progressSpinner>
        </div>

        <ng-template #loaded>
            <div class="table-container">
                <p-table #dt
                    [value]="geographyList"
                    [resizableColumns]="true"
                    [autoLayout]="true"
                    [sortOrder]="1"
                    sortField="name"
                    dataKey="id"
                    styleClass="p-datatable-sm p-0">
                    <ng-template pTemplate="header" let-geography>
                        <tr>
                            <th>Geographies</th>
                            <th [ngStyle]="{width: '20%'}"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-geography>
                        <tr>
                            <td ><span>{{geography.name}}</span></td>
                            <td>
                                <div class="button-container">
                                    <button pButton pRipple
                                        pTooltip="Edit"
                                        tooltipPosition="top"
                                        class="p-button-outlined p-button-rounded p-button-success mr-1"
                                        icon="pi pi-pencil"
                                        [ngStyle]="{height: '40px', width: '40px'}"
                                        (click)="openModal(geography)">
                                    </button>
                                    <button pButton pRipple
                                        pTooltip="Delete"
                                        tooltipPosition="top"
                                        class="p-button-outlined p-button-rounded p-button-warning ml-1"
                                        icon="pi pi-trash"
                                        [ngStyle]="{height: '40px', width: '40px'}"
                                        (click)="deleteGeography(geography._id)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="geographyList.length">No records found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </div>
</div>

<!-- Creation/Edition modal. -->
<p-dialog [(visible)]="show" [modal]="true" [style]="{width: '450px'}" styleClass="p-fluid" header="{{modalTitle}}">
    <ng-template pTemplate="content">
        <form id="geographyForm" (ngSubmit)="selectedGeography ? editGeography(selectedGeography) : addGeography()">
            <div class="p-field">
                <label for="name" class="inline-block mb-2">Name</label>
                <input type="text" pInputText id="name" [formControl]="name" autofocus/>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-text p-button-danger" label="Cancel" icon="pi pi-times" (click)="hideModal()"></button>
        <button pButton pRipple class="p-button-text" label="Save" icon="pi pi-check" type="submit" form="geographyForm" [disabled]="!name.valid"></button>
    </ng-template>
</p-dialog>

<!-- Deletion modal. -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
