<div class="my-4">
    <div class="spinner-container" *ngIf="!loaded">
        <p-progressSpinner ></p-progressSpinner>
    </div>
    <!--child components-->
    <div *ngIf="loaded">

        <div class="left ml-5">
            <button pButton pRipple class="p-button-raised p-button-rounded p-button-success mr-2" label="Sector repartition" routerLink="/sector"></button>
        </div>

        <app-geographic-exposure-graph [graphData]="graphData"></app-geographic-exposure-graph>

        <div class="mx-5 mb-4">
            <p-divider></p-divider>
        </div>

        <app-geographic-exposure-table [geographicData]="geographicData" [geographicTotal]="geographicTotal" [regionMap]="regionMap"></app-geographic-exposure-table>
    </div>
</div>
