<div class="content m-4">
    <div class="container card-dark col-6">

        <div class="mb-5 mt-2">
            <button pButton pRipple class="p-button-raised" label="Add Major Sector" icon="pi pi-plus" (click)="openModal(false)"></button>
            <button pButton pRipple class="p-button-text mx-2" label="Expand all" (click)="expandAll()"></button>
            <button pButton pRipple class="p-button-text" label="Collapse all" (click)="collapseAll()"></button>
        </div>

        <div class="spinner-container" *ngIf="loadingService.loading$ | async; else: loaded">
            <p-progressSpinner ></p-progressSpinner>
        </div>

        <ng-template #loaded>
            <div class="table-container">
                <p-treeTable
                    [value]="sectorData"
                    [autoLayout]="true"
                    [sortOrder]="1"
                    sortField="name"
                    styleClass="p-0">
                    <ng-template pTemplate="header">
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-sector="rowData">
                        <tr>
                            <td class="p-1">
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <span *ngIf="sector.level === 0; else elseBlock">
                                    <b>{{sector.name}}</b>
                                </span>
                                <ng-template #elseBlock>
                                    {{sector.name}}
                                </ng-template>
                            </td>
                            <td class="p-1">
                                <div class="button-container">
                                    <button *ngIf="sector.level === 0" pButton pRipple
                                        pTooltip="Add"
                                        tooltipPosition="top"
                                        class="p-button-outlined p-button-rounded p-button-success"
                                        icon="pi pi-plus"
                                        [ngStyle]="{height: '30px', width: '30px'}"
                                        (click)="openModal(false, sector)">
                                    </button>
                                    <button pButton pRipple
                                        pTooltip="Edit"
                                        tooltipPosition="top"
                                        class="p-button-outlined p-button-rounded p-button-success mx-2"
                                        icon="pi pi-pencil"
                                        [ngStyle]="{height: '30px', width: '30px'}"
                                        (click)="openModal(true, sector)">
                                    </button>
                                    <button pButton pRipple
                                        pTooltip="Delete"
                                        tooltipPosition="top"
                                        class="p-button-outlined p-button-rounded p-button-warning"
                                        icon="pi pi-trash"
                                        [ngStyle]="{height: '30px', width: '30px'}"
                                        (click)="deleteSector(sector._id)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="sectorData.length">No records found</td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>
        </ng-template>
    </div>
</div>

<!-- Creation/Edition modal. -->
<p-dialog [(visible)]="show" [modal]="true" [style]="{width: '450px'}" styleClass="p-fluid" header="{{modalTitle}}">
    <ng-template pTemplate="content">
        <form id="sectorForm" (ngSubmit)="edition ? editSector(selectedSector) : addSector(selectedSector)">
            <div class="p-field">
                <label for="name" class="inline-block mb-2">Name</label>
                <input type="text" pInputText id="name" [formControl]="name" autofocus/>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-text p-button-danger" label="Cancel" icon="pi pi-times" (click)="hideModal()"></button>
        <button pButton pRipple class="p-button-text" label="Save" icon="pi pi-check" type="submit" form="sectorForm" [disabled]="!name.valid"></button>
    </ng-template>
</p-dialog>

<!-- Deletion modal. -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
