.expo-container {
    display: inline-flex;
    width: 100%;

    .expo-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.submit {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

:host ::ng-deep input.p-inputtext {
    width: 60px !important;
    padding: 0.3rem !important;
}
