<form [formGroup]="formGroup" (ngSubmit)="submitRepartition()">
    <div formArrayName="repartitions" class="expo-container">
        <div *ngFor="let repartition of repartitionForm.controls; let i=index" class="expo-block p-2">
            <div formGroupName="{{i}}">
                <label for="{{repartition.value.geography._id}}">{{repartition.value.geography.name}}</label>
                <div class="mt-2">
                    <p-inputNumber id="{{repartition.value.geography._id}}" formControlName="exposure" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
        </div>
    </div>
    <div class="submit mt-4">
        <button pButton pRipple type="submit" class="p-button-sm" label="Save" icon="pi pi-check" iconPos="right"></button>
    </div>
</form>
