<div class="content y-center m-4">

    <!-- Loads spinner if the Observable emits true, otherwise loads the component within a 'else' template (double ngIf syntax is preferred). -->
    <div class="spinner-container" *ngIf="loadingFacade.loading$ | async; else: loaded">
        <p-progressSpinner ></p-progressSpinner>
    </div>

    <ng-template #loaded>
        <p-card>
            <ng-template pTemplate="header">
                <div class="header-container pt-5">
                    <app-avatar></app-avatar>
                </div>
            </ng-template>

            <app-login-form (formSubmit)="submitUser($event)"></app-login-form>

            <ng-template pTemplate="footer">
                <div class="footer-container pb-3">
                    <button pButton pRipple label="Login" icon="pi pi-check" type="submit" form="loginForm"></button>
                </div>
            </ng-template>
        </p-card>
    </ng-template>
</div>

