.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-container, .footer-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}

:host ::ng-deep .p-inputtext {
    // Forces style otherwise the show-password icon doesn't display correctly in Reactive Form.
    padding-right: 0.5rem !important;
}
