.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-container, .footer-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}
