.header {
    height: var(--header-height);
    background-color: var(--header-bg);
    box-shadow: var(--header-box-shadow);

    .nav-menu {
        position: absolute;
        height: var(--header-height);
        top: 0;
        padding-left: 6px;
    }

    .title {
        margin: 0 auto;
    }

    .user-menu {
        position: absolute;
        height: var(--header-height);
        top: 0;
        right: 0;
        padding-right: 12px;
    }
}
