<div class="container card-dark m-4">
    <div class="mb-4">
        <button pButton pRipple class="p-button-raised" label="Add Geography" icon="pi pi-plus" (click)="openDialog()"></button>
    </div>

    <div class="spinner-container" *ngIf="loadingService.loading$ | async; else: loaded">
        <p-progressSpinner ></p-progressSpinner>
    </div>

    <ng-template #loaded>
        <p-table #dt
            [value]="geographyList"
            [resizableColumns]="true"
            [autoLayout]="true"
            dataKey="id"
            styleClass="p-datatable-sm col-4 p-0">
            <ng-template pTemplate="header">
                <tr>
                    <th>Geographies</th>
                    <th [ngStyle]="{width: '20%'}"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-geography>
                <tr>
                    <td ><span>{{geography.name}}</span></td>
                    <td>
                        <div class="button-container">
                            <button pButton pRipple
                            pTooltip="Edit"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-success mr-1"
                            icon="pi pi-pencil"
                            [ngStyle]="{height: '40px', width: '40px'}"
                            (click)="openDialog(geography)">
                            </button>
                            <button pButton pRipple
                                pTooltip="Delete"
                                tooltipPosition="top"
                                class="p-button-outlined p-button-rounded p-button-warning ml-1"
                                icon="pi pi-trash"
                                [ngStyle]="{height: '40px', width: '40px'}"
                                (click)="deleteGeography(geography._id)">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="geographyList.length">No records found</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</div>

<p-dialog [(visible)]="modify" [modal]="true" [style]="{width: '450px'}" styleClass="p-fluid" header="{{dialogTitle}}">
    <ng-template pTemplate="content">
        <form id="geographyForm" (ngSubmit)="editGeography(selectedGeography)">
            <div class="p-field">
                <label for="name" class="inline-block mb-2">Name</label>
                <input type="text" pInputText id="name" [formControl]="name" autofocus/>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-text p-button-danger" label="Cancel" icon="pi pi-times" (click)="hideDialog()"></button>
        <button pButton pRipple class="p-button-text" label="Save" icon="pi pi-check" type="submit" form="geographyForm" [disabled]="!name.valid"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
