<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div formArrayName="exposureArray" class="container">

        <div *ngFor="let exposure of array; let i=index" class="instance p-2">

            <ng-container formGroupName="{{i}}">
                <label for="{{exposure.value._id}}" class="pr-4">{{exposure.value.name}}</label>
                <div>
                    <p-inputMask
                        id="{{exposure.value._id}}"
                        placeholder="00,00"
                        formControlName="exposure"
                        mask="99,99"
                        slotChar="#">
                    </p-inputMask>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="submit mt-3">
        <app-button label="Save" btnClass="p-button-sm" icon="pi pi-check" type="submit"></app-button>
    </div>
</form>
