<div class="content m-4">
    <div class="container card-dark col-6">

        <div class="mb-5 mt-2">
            <button pButton pRipple class="p-button-raised" label="Add Major Sector" icon="pi pi-plus" (click)="openModal('add')"></button>
            <button pButton pRipple class="p-button-text mx-2" label="Expand all" (click)="sectorFacade.expandAll()"></button>
            <button pButton pRipple class="p-button-text" label="Collapse all" (click)="sectorFacade.collapseAll()"></button>
        </div>

        <div class="spinner-container" *ngIf="loadingFacade.loading$ | async; else: loaded">
            <p-progressSpinner ></p-progressSpinner>
        </div>

        <ng-template #loaded>
            <app-sector-mapping-table [sectorData]="sectorFacade.sectorData$ | async" (sectorSubmit)="onSelected($event)"></app-sector-mapping-table>
        </ng-template>
    </div>
</div>

<!-- Creation/Edition modal. -->
<p-dialog
    [(visible)]="show"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{width: '450px'}"
    styleClass="p-fluid"
    header="{{modalTitle}}">

    <ng-template pTemplate="content">

        <app-sector-mapping-form [selectedName]="selectedName$ | async" (formSubmit)="onFormSubmit($event)" (showChange)="show = $event"></app-sector-mapping-form>

    </ng-template>
</p-dialog>
<!-- Deletion modal. -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
