<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group p-field">
        <label for="name" class="inline-block mb-2">Name</label>
        <input
            placeholder="Name"
            formControlName="name"
            [ngClass]="{'ng-invalid ng-dirty': f['name'].touched && f['name'].errors}"
            pInputText/>

        <div class="invalid-feedback" *ngIf="f['name'].touched && f['name'].errors">
            <small class="p-error" *ngIf="f['name'].errors['required']">Name is required</small>
            <small class="p-error" *ngIf="f['name'].errors['pattern']">Name must only contain spaces and letters</small>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <button pButton pRipple class="p-button-text p-button-danger" label="Cancel" icon="pi pi-times" type="button" (click)="hideModal()"></button>
            <button pButton pRipple class="p-button-text" [disabled]="!f['name'].valid" label="Save" icon="pi pi-check" type="submit"></button>
        </div>
    </div>
</form>
