<div class="table-container">
    <p-table #dt
        [value]="geographyList?? []"
        [resizableColumns]="true"
        [autoLayout]="true"
        [sortOrder]="1"
        sortField="name"
        dataKey="id"
        styleClass="p-datatable-sm p-0">
        <ng-template pTemplate="header" let-geography>
            <tr>
                <th>Geographies</th>
                <th [ngStyle]="{width: '20%'}"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-geography>
            <tr>
                <td><span>{{geography.name}}</span></td>
                <td>
                    <div class="button-container">
                        <button pButton pRipple
                            pTooltip="Edit"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-success mr-1"
                            [ngStyle]="{height: '40px', width: '40px'}"
                            icon="pi pi-pencil"
                            type="button"
                            (click)="edit(geography)">
                        </button>
                        <button pButton pRipple
                            pTooltip="Delete"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-warning ml-1"
                            [ngStyle]="{height: '40px', width: '40px'}"
                            icon="pi pi-trash"
                            type="button"
                            (click)="del(geography)">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="geographyList?.length ?? 0">No records found</td>
            </tr>
        </ng-template>
    </p-table>
</div>
