<div class="cflex a-center h-100 p-5">
    <div class="container card-dark cflex a-center h-100">

        <app-button [ngClass]="'mb-5 mt-2'" label="Add Geography" btnClass="p-button-raised" icon="pi pi-plus" type="button" (click)="openModal('add')"></app-button>

        <app-table class="cflex w-100 h-100" [data]="(data$ | async)!">
            <ng-template #tableTemplate let-tableData>

                <app-geo-table [data]="tableData"></app-geo-table>

            </ng-template>
        </app-table>
    </div>
</div>

<!-- Creation/Edition modal. -->
<app-edition-modal></app-edition-modal>

<!-- Deletion modal. -->
<app-confirmation-modal></app-confirmation-modal>
