<div class="cflex a-center h-100 m-4">
    <div class="cflex a-center h-100 card-dark col-4">

        <div class="mb-5 mt-2">
            <app-button label="Add Geography" class="p-button-raised" icon="pi pi-plus" type="button" (click)="openModal('add')"></app-button>
        </div>

        <ng-container *ngIf="(data$ | async) as data; else loading">

            <ng-container *ngIf="data.length > 0; else empty">
                <app-geo-table [data]="data"></app-geo-table>
            </ng-container>

            <ng-template #empty>
                <div class="empty-table flex center">
                    <i class="pi pi-book"></i>
                </div>
            </ng-template>
        </ng-container>

        <ng-template #loading>
            <div class="spinner-container">
                <app-progress-spinner></app-progress-spinner>
            </div>

        </ng-template>
    </div>
</div>

<!-- Creation/Edition modal. -->
<app-edition-modal></app-edition-modal>

<!-- Deletion modal. -->
<app-confirmation-modal></app-confirmation-modal>
