<div class="table-container">
    <p-treeTable
        [value]="sectorData?? []"
        [autoLayout]="true"
        [sortOrder]="1"
        sortField="name"
        styleClass="p-0">
        <ng-template pTemplate="header">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-sector="rowData">
            <tr>
                <td class="p-1">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <span *ngIf="sector.level === 0; else elseBlock">
                        <b>{{sector.name}}</b>
                    </span>
                    <ng-template #elseBlock>
                        {{sector.name}}
                    </ng-template>
                </td>
                <td class="p-1">
                    <div class="button-container">
                        <button *ngIf="sector.level === 0" pButton pRipple
                            pTooltip="Add"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-success"
                            icon="pi pi-plus"
                            [ngStyle]="{height: '30px', width: '30px'}"
                            (click)="addChild(sector)">
                        </button>
                        <button pButton pRipple
                            pTooltip="Edit"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-success mx-2"
                            icon="pi pi-pencil"
                            [ngStyle]="{height: '30px', width: '30px'}"
                            (click)="edit(sector)">
                        </button>
                        <button pButton pRipple
                            pTooltip="Delete"
                            tooltipPosition="top"
                            class="p-button-outlined p-button-rounded p-button-warning"
                            icon="pi pi-trash"
                            [ngStyle]="{height: '30px', width: '30px'}"
                            (click)="del(sector)">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="sectorData?.length ?? 0">No records found</td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>
