.container {

    .panel {
        flex-basis: 50%;

        .title {
            display: inline-flex;
            width: 100%;
            justify-content: center;

            span {
                font-family: var(--font-family);
                color: var(--text-color);
                font-size: 1rem;
            }
        }
    }
}

:host ::ng-deep .p-tabview-nav {
    border-bottom: 1px solid var(--card-border);

    .p-tabview-nav-link {
        padding: 0.875rem !important;

        &:focus {
            box-shadow: none !important;
        }

        span {
            font-weight: 400;
        }
    }
}
