<div class="container mx-5 my-4">
    <p-panel header="Summary">
        <div class="detail" *ngIf="equity">
            <span>Name: {{equity.name}}</span>
            <span>Ticker: {{equity.ticker}}</span>
            <span>Type: {{equity.type}}</span>
            <span class="font-bold">Quantity: {{equity.quantity}}</span>
            <span>Amount: <b>{{equity.amount | currency: equity.currency}}</b></span>
        </div>
    </p-panel>

    <div class="card my-4">
        <div class="px-4 py-2">
            <p-tabView>
                <p-tabPanel header="Geographic Repartition">
                    <app-geography-edit *ngIf="equity" [geographicRepartition]="equity.geography" (geographicRepartitionChange)="updateEquityGeography($event)"></app-geography-edit>
                </p-tabPanel>
                <p-tabPanel header="Sector Repartition">
                    <app-sector-edit #child (sectorRepartitionChange)="updateEquitySector($event)"></app-sector-edit>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
