/* ------ Global Styles definition. ------ */

html[data-theme=dark] {

    body {
        background-color: #17212F;
    }
}

html[data-theme=light] {

    body {
        background-color: #FFFFFF;
    }
}

// ---------------------------------------

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: var(--body);

    /* ------- Style override for PrimeNG elements that are appended to the body. ------- */

    div.p-tieredmenu-overlay p-tieredmenusub > ul li.menu-left p-tieredmenusub > ul.p-submenu-list {
        left: -100% !important;
    }

    /* ---------------------------------------------------------------------------------- */
}

.y-center {
    height: calc(100vh - 48px - 70px); // Fills space between header and footer.
}

.p-paginator {
    justify-content: end !important;
}

.p-button:enabled:active, .p-button:enabled:focus {
    box-shadow: none !important;
}

.spinner-container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

// Toggled only in dark mode.
.card-dark {
    background: var(--card-dark-bg);
    border-radius: 4px;
}
