/*------ Global Styles ------*/
body {
    margin: 0;
    background-color: var(--body);
}

html, body {
    min-height: 100%;
}

.p-paginator {
    justify-content: end !important;
}

.p-button:enabled:active, .p-button:enabled:focus {
    box-shadow: none !important;
}

.spinner-container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

// Card visible uniquement en dark mode
.card-dark {
    background: var(--card-dark-bg);
    border-radius: 4px;
}
