/*------ Global Styles ------*/
body {
    margin: 0;
}

html, body {
    min-height: 100%;
}

.p-paginator {
    justify-content: end !important;
}

.p-button:enabled:active, .p-button:enabled:focus {
    box-shadow: none !important;
}
