/* ------ Dark Theme. ------ */

/* Imports PrimeNG theme. */
@import "../../../node_modules/primeng/resources/themes/vela-blue/theme.css";

:root {
    --body: var(--surface-ground); /* References PrimeNG default palette. */

    --header-bg: var(--surface-card);
    --header-color: rgba(255, 255, 255, 0.87);
    --header-setting-hr: var(--gray-50);

    --table-value-color: var(--cyan-400);
    --equity-detail-color: rgba(255, 255, 255, 0.87);
    --text-color: rgba(255, 255, 255, 0.87);;

    --card-border: var(--surface-border);
    --card-dark-bg: var(--surface-e);

    --page-not-found-img: url("../images/404_dark.png");
}

.card-dark {
    padding: 1rem 1rem 2rem 1rem !important;
}
