/* ------ Light (also default) Theme. ------ */

/* Imports PrimeNG theme. */
@import "../../../node_modules/primeng/resources/themes/saga-blue/theme.css";

:root {
    --body: #FFFFFF;

    --header-bg: #EFEFEF;
    --header-color: var(--text-800);
    --header-setting-hr: var(--gray-300);

    --table-value-color: #05389F;
    --equity-detail-color: var(--gray-600);

    --card-border: var(--surface-border);
    --card-dark-bg: var(--surface-e);
}

.card-dark {
    padding: 0 !important;
}
